.box {
  max-width: 400px;
  margin: 26px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.box_list {
  list-style-type: none;
}
.box_item:hover {
  color: red;
  cursor: pointer;
  opacity: 0.4;
  text-decoration: line-through;
}