
.header_text {
  background-color: #113263;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header_text--h1 {
  color: #fff;
  padding: 20px;
}