* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #b3d1ff;
  background-image: -webkit-linear-gradient(65deg, #2c4874 50%, #c6d1e6 50%);
  min-height: 1000px;
  padding: 2rem 0;
}